@media screen and (max-width: 576px) {
.hero h1 {
      font-size: 6vw;
}
.hero h2 {
      font-size: 5vw;
  }
.hero p {
      font-size:3.5vw;
  }
.hero .update{
    font-size: 3vw;
  }
  /*.navbar-brand{
      width: 50vw;
      height: 20vw;
  }
  #IRPAlogo{
    width: 20vw;
    height: 15vw;
  }*/
}

@media screen and (min-width: 577px) {
.hero h1 {
          font-size: 3vw;
}
.hero h2 {
    font-size: 2.5vw;
  }
.hero p {
      font-size:1.25vw;
  }
.hero .update{
    font-size: 1vw;
  }
  /*.navbar-brand{
      width: 30vw;
      height: 10vw;
  }
  #IRPAlogo{
    width: 15vw;
    height: 8vw;
  }*/

}

.hero{
  max-width: 100%;
}
body{
  margin:0;
  font-size: 16px;
}

#navbar1{
  background-color: white !important;
}
#navbar2{
  background-color: white !important;
  border-bottom: 1px #ebebeb solid;
}
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.85),rgba(0, 0, 0, 0.85)), url("mitchell.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  /* Sizing */
      width: 100vw;
      height: 100vh;

  /* Flexbox stuff */
      display: block;
      align-items: center;
  /*  padding-left: 7%;
      padding-right: 7%;
      padding-top: 3%;
      padding-bottom: 3%; */

  /* Text styles */
      text-align:left;

}

  .hero h1 {
      /* Text styles */
      color: #FFD520;
      /*font-size: 3vw;*/

      /* Margins */
      margin-top: 4rem;
      margin-bottom: 0.5rem;
  }
  .hero h2 {
      /* Text styles */
      color: #ffffff;
      /*font-size: 2.5vw;*/

      /* Margins */
      margin-top: 0;
      margin-bottom: 0.5rem;
  }
  .hero p {
      /* Text styles */
      color: #ffffff;
      /*font-size:1.25vw;*/

      /* Margins */
      margin-top: 0;
      margin-bottom: 0.5rem;
  }
  .hero .update{
    color: #ffffff;
    opacity: 0.7;
/*    font-size: 1vw;*/
  }

#hr1{
  border: 0;
  clear:both;
  width: 90vw;
  color:#FFD520;
  background-color:#FFD520;
  height: 0.3vw;
  text-align:left;
  margin: 0 auto 0 0;
}
.hr2{
  height:0.1vw;
  border: 0;
  color:#fff;
  background-color:#fff;
  width:3vw;
  text-align:left;
  margin: 30% auto 0 0;
  clear: both;
  display: block;
}
nav
{
overflow: auto;
}

.scrolldown a:hover {
  opacity: .5;
}
#section01 a span {
  margin: 0 auto;
  width: 2vw;
  height: 2vw;
  display: block;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

footer{
  background-color: #333333;
  min-width:100%;
  max-width:100%;
  height: auto;
}
h6 {
  color: #FFD520;
}
.footertext{
  color: #ffffff;
}
footer a{
  color: #fff;
  opacity: 0.5;
}
footer a:hover{
    color: #fff;
    opacity: 1;
    text-decoration: none;
}

#button {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s,
  opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}
