
@media screen and (max-width: 360px) {
  h1 {
        font-size: 24px;

  }
  .hero h1{
    padding-left: 10px;
  }
  .hr1{
    display: block;
    margin: 0 auto;
  }
  h2 {
        font-size: 22px;
    }
  .hero p {
        font-size:16px;
    }
  .hero .update{
      font-size: 14px;
    }
    .largetext{
      color: #fff;
    }
    button{
      display:block;
      margin:0.4em auto;
     }
    /*.navbar-brand{
        width: 50vw;
        height: 20vw;
    }*/

}
@media (max-width:629px){
  .IRPAlogo{
  display:none;
  }

  .UMDIRPAlogo
  {
    width: 50%;
    height: auto;
  }
}
@media (min-width: 630px){
  .UMDIRPAlogo
  {
    width: 120%;
    height: 100%;
  }
  .IRPAlogo{
    width: 40%;
    height: auto;
    float: right;
  }
}
@media screen and (min-width: 361px) {
  h1 {
        font-size: 32px;

  }
  .hero h1{
    padding-left: 10px;
  }
  .hr1{
    display: block;
    margin: 0 auto;
  }
 h2 {
        font-size: 28px;
    }
  .hero p {
        font-size:18px;
    }
  .hero .update{
      font-size: 14px;
    }
    .largetext{
      color: #fff;
      font-size: 20px;
    }
    button{
      display:block;
      margin:0.4em auto;
     }

    #scrolldown{
      width:10%;
      height:10%;
    }


  }

.hero{
  max-width: 100%;
}
body{
  margin:0;
  font-size: 16px;
  color: #222;
}
/*h1, h2, h3
{
  font-family: 'Crimson Text', Georgia, serif;
}*/
h1, h2, h3, h4, h5, p{
   font-family: 'Source Sans Pro', Arial, Helvetica, Verdana, sans-serif;
}

#navbar1{
  background-color: white !important;
}
#navbar2{
  background-color: white !important;
  border-bottom: 1px #ebebeb solid;
  z-index: 1000;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.60),rgba(0, 0, 0, 0.80)), url("mitchell.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

  /* Sizing */
      width: 100%;
      height: auto;

  /* Flexbox stuff */
      display: block;
      align-items: center;
  /*  padding-left: 7%;
      padding-right: 7%;
      padding-top: 3%;
      padding-bottom: 3%; */

  /* Text styles */
      text-align:left;

}
.yellow{
    color: #FFD520;

}
.hero h1 {
      /* Text styles */
      /*font-size: 3vw;*/

      /* Margins */

      margin-bottom: 0.5rem;
  }
  .hero h2 {
      /* Text styles */
      color: #ffffff;
      /*font-size: 2.5vw;*/

      /* Margins */
      margin-top: 0;
      margin-bottom: 0.5rem;
  }
  .hero p {
      /* Text styles */
      color: #ffffff;
      /*font-size:1.25vw;*/

      /* Margins */
      margin-top: 0;
      margin-bottom: 0.5rem;
  }
  .hero .update{
    color: #ffffff;
    opacity: 0.7;
/*    font-size: 1vw;*/
  }

.hr1{
  border: 0;
  clear:both;
  width: 90vw;
  color:#FFD520;
  background-color:#FFD520;
  height: 3px;
  text-align:left;
  margin: 0 auto 0 0;
}
.hr2{
  height:2px;
  border: 0;
  color:#fff;
  background-color:#fff;
  width:15px;
  text-align:left;
  margin: 30% auto 0 0;
  clear: both;
  display: block;
}

#hero{
  padding: 4em;
}
/**
.scrolldown a:hover {
  opacity: .5;
}
**/


footer{
  background-color: #222;
  min-width:100%;
  max-width:100%;
  height: auto;
}
h6{
  color: #FFD520;
}
h5{
  color: #ffffff;
  font-size: 16px;
  opacity: 0.5;
}
.address{
  color: #ffffff;
  opacity: 0.5;
  font-size: 14px;
}
footer a{
  color: #fff;
  opacity: 0.8;
}
footer a:hover{
    color: #fff;
    opacity: 1;
    text-decoration: underline;
}
/*.footertext{
  color: #fff;
  opacity: 0.5;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: underline;
}*/


/*#marylandflag{
    background-image: linear-gradient(rgba(0,0,0, 0.9),rgba(0,0,0, 0.9));
    opacity: 0.5;
}*/

.centered {
  width:80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.btn{
    border-radius: 0px;
}


.commondestination{
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;

}
.row1{
  height: 400px;
  position: relative;
  text-align: left;
  background-color: #333;
}
.row2{
  background-color: #f8dc08;
  height: 150px;
  position: relative;
}
#commondestination2{
  margin:5%;
}

.hover-content {
    display:none;
}
.parent:hover .hover-content {
    display: inline-block;
}
.slide-link {
  color: #190cab;
  float: left;
  margin-bottom: 30px;

  line-height: 2em;
  position: relative;
}
/* line 786, ../sass/_base.scss */
.slide-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #190cab;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

/* line 803, ../sass/_base.scss */
.slide-link:hover {
  color: #190cab;
  text-decoration: none;
}

/* line 806, ../sass/_base.scss */
.slide-link:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  transform: scaleX(1);
}
.background{
  background-color: #f8dc08;
  height: 800px;
  width:100%
}
