
.hero{
  max-width: 100%;
}
body{
  margin:0;
}

#navbar1{
  background-color: white !important;
}
#navbar2{
  background-color: white !important;
  border-bottom: 1px #ebebeb solid;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.85),rgba(0, 0, 0, 0.85)), url("mitchell.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  /* Sizing */
      width: 100vw;
      height: 100vh;

  /* Flexbox stuff */
      display: block;
      align-items: center;
  /*  padding-left: 7%;
      padding-right: 7%;
      padding-top: 3%;
      padding-bottom: 3%; */

  /* Text styles */
      text-align:left;

}

  .hero h1 {
      /* Text styles */
      color: #FFD520;
      font-size: 3vw;

      /* Margins */
      margin-top: 4rem;
      margin-bottom: 0.5rem;
  }
  .hero h2 {
      /* Text styles */
      color: #ffffff;
      font-size: 2.5vw;

      /* Margins */
      margin-top: 0;
      margin-bottom: 0.5rem;
  }
  .hero p {
      /* Text styles */
      color: #ffffff;
      font-size:1.5vw;

      /* Margins */
      margin-top: 0;
      margin-bottom: 0.5rem;
  }
  .update{
    color: #ffffff;
    opacity: 0.7;
    font-size: 0.75vw;
  }

#hr1{
  border: 0;
  clear:both;
  width: 70vw;
  color:#FFD520;
  background-color:#FFD520;
  height: 0.3vw;
  text-align:left;
  margin: 0 auto 0 0;
}
.hr2{
  height:0.1vw;
  border: 0;
  color:#fff;
  background-color:#fff;
  width:3vw;
  text-align:left;
  margin: 30% auto 0 0;
  clear: both;
  display: block;
}

.hero .btn {
    /* Positioning and sizing */
    display: block;
    width: 150px;

    /* Padding and margins */
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    /* Text styles */
   color: white;
   text-decoration: none;
   font-size: 1em;

    /* Border styles */
    border: 3px solid white;
    /*border-radius: 30px;*/

    /* Background styles */
    /*background-color: rgba(147, 112, 219, 0.8);*/
}
nav
{
overflow: auto;
}
