body {
  padding-top: 60%;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#seemore{
  padding-top:100px;
}

#experience{
  padding-top:20px;
}

#education{
  padding: 60px 0 60px 0;
}
#skills{
  padding: 20px;
}


.navbar {
  background-color: white;
  position:fixed;
}
.nav-link , .navbar-brand{
  color: #1769ff;
  cursor: pointer;
}
.navbar-brand:hover{
  color: #333;
}
.nav-link{
  margin-right: 1em !important;
}
.nav-link:hover{
  color: #333;
}
.navbar-collapse{
  justify-content:
  flex-end;
}
.navbar-fixed-top {
  position: absolute!important;
}
.navbar-toggle
{
    position:relative;
    float:right;
    padding:9px 10px;
    margin-top:8px;
    margin-right:15px;
    margin-bottom:8px;
    background-color:transparent;
    background-image:none;
    border:1px solid #444;          /* added line */
    border-radius:4px
}

/*header style*/
.header{
  background-color: white;
}

.description{
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
}
.description h1{
 color:#333 ;
}
.description p{
 color:#333;
 font-size: 25px;
 width: 100%;
 line-height: 2;
}
.description button{
 border:1px  solid #1769ff;
 border-radius: 50px;
 background:#1769ff;
 color:#fff;
}

.description button:hover{
  border:2px  solid #1769ff;
  border-radius: 50px;
  background:#fff;
  color:#1769ff;
}

.about{
 margin: 4em 0;
 padding: 1em;
 position: relative;
}
.about h1{
 color:#F97300;
 margin: 2em;
}
.about img{
 height: 100%;
    width: 100%;
    border-radius: 50%
}
.about span{
 display: block;
 color: #888;
 position: absolute;
 left: 115px;
}
.about .desc{
 padding: 2em;
 border-left:4px solid #10828C;
}
.about .desc h3{
 color: #10828C;
}
.about .desc p{
 line-height:2;
 color:#888;
}
footer{
    height: 300px;
    width: 100%;
    background-color: #EEEEEE;
}
.sociallinks{
  color: #333;
  text-align: center;
  padding: 25px;
}
.sendemail button{
 border:1px  solid #1769ff;
 border-radius: 50px;
 background:#1769ff;
 color:#fff;
margin-bottom: 25px;
}
.sendemail button:hover{
  border:2px  solid #1769ff;
  border-radius: 50px;
  background:#eee;
  color:#1769ff;
margin-bottom: 25px;
}
.fa-linkedin{
  color: #0078ba;
  margin-right: 5px;
}
.fa-linkedin:hover{
  opacity: 0.7;
  margin-right: 5px;
}
.fa-github-square{
  color: #232930;
  margin-left: 5px;
}
.fa-github-square:hover{
  opacity: 0.7;
  margin-left: 5px;
}
.design{
  margin: 10px;
}
.design a:hover{
  opacity:0.7;
}
