/* styles for my resume */

/*general style for all the content unless otherwise specified*/
body{
  font-family: 'Open Sans', arial, sans-serif;

}

#container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 0px 50px 0px;
}

.description{
  margin: 10px 0px 10px 0px;
}

/*banner name at top*/
#name{
  font-size: 3em;
  color: #33485e;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}
/*style for my title*/
#title{
  text-transform: uppercase;
  font-size: 1.5em;
  color: #33485e;
  font-weight: 600;
  text-align: center;
  margin: 20px 0px 0px 0px;
}

/*style for section titles*/
.sectionheader{
  font-size: 1.5em;
  text-transform: uppercase;
  background-color: #33485e;
  color: white;
  font-weight: 400;
  margin: 20px 0px 10px 0px;
  width: 70%;
  min-width: 300px;
  padding-left: 20px;
}

/*style for job titles*/
.jobtitle{
  font-weight: 600;
  font-size: 1.5em;
}

/*style for job organization*/
.organization{
  font-weight: 400;
  font-size: 1.25em;
}

/*style for job dates*/
.date{
  font-weight: 400;
  font-style: italic;
  font-size: 1em;
  margin: 2px 0px 0px 0px;
}

/*style for all the lists in the resume*/
li{
  font-size: 1em;
}

.menu{
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.menu li{
    display: inline;
}

#degrees{
  margin: 5px 0px 0px 0px;
}

#do{
  margin: 5px 0px 0px 0px;
}

.top{
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
}
