/* styles for my resume */

/*general style for all the content unless otherwise specified*/
body{
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 12px;
  color: #444;
  font-weight:400;
}

/*banner name at top*/
#name{
  font-size: 3em;
  color: #33485e;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto center;
}

/*style for my title*/
#title{
  text-transform: uppercase;
  font-size: 1.5em;
  color: #33485e;
}

/*style for section titles*/
h2{
  font-size: 1.5em;
  text-transform: uppercase;
  background-color: #33485e;
  color: white;
  font-weight: 400;
}

/*style for job titles*/
h3{
  font-weight: 600;
  font-size: 1.5em;
}

/*style for job organization*/
h4{
  font-weight: 400;
  font-size: 1.5em;
}

/*style for job dates*/
h5{
  font-weight: 400;
  font-style: italic;
  font-size: 1em;
}

/*style for all the lists in the resume*/
ul{
  font-size: 1em;
}
