/*style for body*/
body{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

/*style for byline*/
.byline{
  font-size: 10px;
  font-style: italic;
  color: #757575;
}

/*style for the story text*/
#content{
  margin: 0 auto;
  width: 1080px;
}

blockquote {
font: 16px/24px normal helvetica, sans-serif;
margin-top: 15px;
margin-bottom: 15px;
color: #607D8B;
margin-left: 50px;
padding-left: 15px;
border-left: 4px solid #1DE9B6;
}

.story{
  margin-top:2%;
  margin-bottom: 2%;
}

.questions{
  font-style: italic;
  color: #333;
}

.relateditems{
  margin-top: 5%;
  margin-bottom: 5%;
}

.userinfo{
  font-family: 'Courier New', serif;
  text-transform: uppercase;
}

.description{
  margin-top:4%;
  margin-bottom: 4%;
}
a:link{
  text-decoration:none;
}
a:hover{
  text-decoration:underline;
}
a:visited{
  text-decoration:none;
}
