/*style for body*/
body{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}
h1{
  font-size: 20pt;
  color: #333;
}
h2{
  font-size: 16pt;
  color: #424242;
}
h3{
  font-size:14pt;
  color: #424242;
}

/*style for byline*/
.byline{
  font-size: 12pt;
  font-style: italic;
  color: #757575;
}

/*style for the story text*/
#content{
  margin: 0 auto;
  width: 80%;
}

blockquote {
font: 16px/24px normal helvetica, sans-serif;
margin-top: 15px;
margin-bottom: 15px;
color: #607D8B;
margin-left: 50px;
padding-left: 15px;
border-left: 4px solid #1DE9B6;
}

.story{
  padding-top:0.5%;
  padding-bottom: 0.5%;
}

.questions{
  font-style: italic;
  color: #333;
}

.relateditems{
  padding-top: 3%;
  padding-bottom: 3%;
}

.userinfo{
  font-family: 'Courier New', serif;
  text-transform: uppercase;
}

.description{
  padding-top:1%;
  padding-bottom: 1%;
}
a:link{
  text-decoration:none;
}
a:hover{
  text-decoration:underline;
}
a:visited{
  text-decoration:none;

}
